/* @import "@firebase-oss/ui-styles/dist.min.css"; */

:root {
	--bg: #170f4a;
	--bg-2: #292257;
	--solvent: #fff;
	--text: var(--solvent);
	--gloss: color-mix(in lch, var(--bg) 100%, var(--solvent) 35%);
	--gloss-hover: color-mix(in lch, var(--gloss) 100%, var(--solvent) 35%);
	--primary: #d3a8fa;
	--primary-text: #59228c;
	--secondary: #a8c2ff;
	--secondary-text: #170f4a;
	--accent: #fdd7a4;
	--accent-text: #885514;
	--error: #e14225;
	--padd-xs: 4px;
	--padd-sm: 8px;
	--padd-md: 16px;
	--padd-lg: 24px;
	--padd-xl: 32px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
body.light {
	--solvent: #170f4a;
	--bg: #fff;
}

body {
	background-color: var(--bg);
    /* TODO: if we want gradients, we'll need to use clipping instead of bg color for certain things */
	/* background: linear-gradient(to bottom, var(--bg), var(--bg-2)); */
	padding-inline: var(--padd-lg);
	padding-block: var(--padd-md);
	color: var(--solvent);
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0px;
	height:100%;
    overflow:scroll;
    height:100%;
}

main {
    min-height: calc(100vh - var(--padd-md) * 2);
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

nav.menu {
	display: flex;
	gap: var(--padd-md);
	padding: var(--padd-md) 0;
}

a,
a:visited {
	color: var(--accent);
}

hr.divider{
    height:1px;
    width:100%;
    background: var(--gloss);
    border:none;
    margin:0;
}

wa-drawer::part(body),
wa-drawer::part(header) {
    background-color: var(--bg);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-gloss {
    color: var(--gloss-hover);
}

.text-uppercase {
    text-transform: uppercase;
}

.no-bottom{
    margin-bottom:0;
}

.no-wrap{
    white-space: nowrap;
}
button {
	padding: var(--padd-sm) var(--padd-lg);
}

label,
*::part(form-control-label){
    color:var(--solvent);
}
*::part(hint){
    color:color-mix(in lch, var(--solvent) 100%, var(--bg) 65%);
}

*::part(count){
    color:var(--gloss);
}

label.large{
    font-size:21px;
    line-height: 24px;
    font-weight:500;
}

wa-button::part(base) {
	padding-left: var(--padd-lg);
	padding-right: var(--padd-lg);
}

wa-button[slot="trigger"]::part(base) {
     border-radius: 4px;
}


wa-button.btn-round::part(base),
button.btn-round,
wa-button.btn-square::part(base),
button.btn-square {
    aspect-ratio: 1/1;
    box-sizing: border-box;
    padding:var(--padd-sm);
}

wa-button.btn-square::part(base),
button.btn-square {
    border-radius: 4px;
}

wa-button.btn-round::part(base),
button.btn-round {
	border-radius: 999px;
}

wa-button.btn-square::part(label),
wa-button.btn-round::part(label){
    display:flex;
    align-items:center;
    justify-content:center;
}

wa-button.btn-transparent::part(base),
button.btn-transparent {
	background-color: transparent;
}

wa-button.btn-transparent:hover::part(base),
button.btn-transparent:hover {
	background-color: color-mix(in lch, var(--gloss) 70%, transparent 100%);
    color:var(--solvent);
}

wa-button.btn-outline::part(base),
button.btn-outline {
    background-color:transparent;
	border: 0px;
	outline: 1px solid var(--gloss);
	outline-offset: -1px;
}

wa-button.btn-outline--thick::part(base),
button.btn-outline--thick {
    border: 4px solid var(--text);
}

wa-button.btn-outline::part(base):hover,
button.btn-outline:hover {
	background-color: var(--gloss);
    color:var(--solvent);
}

wa-button.btn-outline:hover .icon-gloss,
button.btn-outline:hover .icon-gloss{
    color: var(--bg);
}

wa-button.btn-gloss::part(base),
button.btn-gloss {
	background-color: var(--gloss);
	border: none;
	backdrop-filter: blur(24px);
	color: var(--bg);
}

wa-button::part(base):hover,
button.btn-gloss:hover {
	background-color: var(--gloss-hover);
	color: var(--bg);
}

wa-button.icon-gloss::part(base),
button.icon-gloss,
.icon-gloss {
	color: var(--gloss);
}

wa-button.icon-gloss::part(base):hover,
button.icon-gloss:hover,
.icon-gloss:hover {
	color: var(--gloss-hover);
}

wa-button.btn-accent::part(base),
button.btn-accent,
button.fui-button {
	background-color: var(--accent);
	border: none;
	backdrop-filter: blur(24px);
	color: var(--bg);
}

wa-button.btn-accent::part(base):hover,
button.btn-accent:hover,
button.fui-button:hover {
	background-color: color-mix(in lch, var(--accent) 100%, var(--solvent) 35%);
	color: var(--bg);
}

wa-button.icon-accent::part(base),
button.icon-accent {
	color: var(--accent);
}

wa-button.icon-accent::part(base):hover,
button.icon-accent:hover {
	color: color-mix(in lch, var(--accent) 100%, var(--solvent) 35%);
}

wa-button.btn-danger::part(base),
button.btn-danger {
    background-color: var(--error);
    border:none;
    color: var(--bg);
}

wa-button.btn-danger::part(base):hover,
button.btn-danger:hover {    
    background-color: color-mix(in lch, var(--error) 100%, var(--solvent) 35%);
    color: var(--bg);
}

input,
textarea,
wa-input::part(base),
wa-number-input::part(base),
wa-textarea::part(base),
wa-select::part(combobox),
wa-select::part(listbox) {
	width: 100%;
	background-color: var(--gloss);
	border: none;
    border-radius: 8px;
}

wa-input::part(base),
wa-textarea::part(textarea),
wa-select::part(combobox),
wa-select::part(listbox){
    padding-inline: var(--padd-md);
}

wa-number-input::part(stepper){
    color:var(--solvent);
    background-color:transparent;
}

wa-number-input::part(stepper):hover{
    background-color:var(--gloss-hover);
}

input,
textarea,
wa-input::part(input),
wa-number-input::part(input),
wa-textarea::part(input),
wa-select::part(combobox),
wa-select::part(listbox),
wa-select::part(expand-icon) {
	color: var(--solvent);
}

wa-select::part(listbox){
    padding:var(--padd-xs);
}

wa-option{
    color:var(--solvent);
    border-radius: 4px;
}

wa-option:hover{
    background-color: color-mix(in lch, var(--bg-2) 100%, var(--solvent) 10%);
}

wa-option[aria-selected="true"] {
    background-color: var(--bg-2);
}

input[readonly],
wa-input[readonly] {
	/* opacity: 0.7; */
}

input[readonly],
wa-input[readonly]::part(input) {
	cursor: not-allowed;
}

input::placeholder,
textarea::placeholder,
wa-input::part(input)::placeholder,
wa-textarea::part(textarea)::placeholder,
wa-select::part(display-input)::placeholder {
	color: color-mix(in lch, var(--solvent) 100%, var(--bg) 65%) !important;
}

input:focus,
input:focus-visible {
	border-color: var(--text) solid 1px;
}

input[aria-invalid="true"] {
	border: 1px solid var(--accent);
	outline: none;
}

wa-select::part(display-input) {
    color:var(--solvent);
}

wa-select > wa-option::part(base){
    background-color:transparent;
    border-radius: 4px;
    color:var(--solvent);
}

wa-select > wa-option:hover::part(base){
    background-color: var(--bg-2);
}

wa-tab-group{
    --track-color:var(--gloss);
    --indicator-color:var(--accent);
}



wa-tab{
    color:var(--solvent);
}

wa-tab[active]::part(base){
    color:var(--accent);
    border-bottom-color:var(--accent);
}

.table-scroll-wrapper,
table{
    outline:1px solid var(--gloss);
    outline-offset:-1px;
    border-radius: 4px;
    border-collapse: separate;
}

table thead,
table tfoot{
    background-color: var(--bg-2);
}

table thead tr th:first-child{
    border-top-left-radius: 4px;
}

table thead tr th:last-child{
    border-top-right-radius: 4px;
}

table tbody tr:last-of-type td{
    border-bottom:1px solid var(--gloss);
}

table tfoot tr td:first-child{
    border-bottom-left-radius: 4px;
}

table tfoot tr td:last-child{
    border-bottom-right-radius: 4px;
}

table thead th,
table tbody td{
    border-bottom: 1px solid var(--gloss);
}

table tr th,
table tr td{
    padding: var(--padd-md) var(--padd-lg);
    vertical-align: baseline;
}

.table-scroll-wrapper{
    overflow-x:scroll;
    width:100%;
    border:1px solid var(--gloss);
}

table.scroll {
    border-spacing: 0;
    width:100%;
}

.table-scroll-wrapper > table.scroll{
    outline:none;
}

table.scroll thead tr th:first-of-type,
table.scroll tbody tr td:first-of-type,
table.scroll tfoot tr td:first-of-type{
    /* position:sticky; */
    left:0;
    z-index:1;
}

table.scroll thead tr th:first-of-type,
table.scroll tfoot tr td:first-of-type{
    background-color: var(--bg-2);
}

table.scroll tbody tr td:first-of-type{
    background-color: var(--bg);
}

table.scroll thead tr th.sticky-right,
table.scroll tbody tr td.sticky-right,
table.scroll tfoot tr td.sticky-right{
    position:sticky;
    right:0;
    z-index:1;
}

table.scroll thead tr th.sticky-right,
table.scroll tfoot tr td.sticky-right{
    background-color: var(--bg-2);
}

table.scroll tbody tr td.sticky-right{
    background-color: var(--bg);
}

.wrapper {
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.full-width {
	width: 100%;
}

.full-height {
	min-height: calc(100vh - var(--padd-md) * 2);
}

.scroll-y {
	overflow-y: auto;
}

.scroll-x {
	overflow-x: auto;
}

.elem-group {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--padd-sm);
}

::part(form-control) {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	grid-auto-flow: row;
	gap: var(--padd-xs);
}

.elem-group.gap-x > :focus {
	z-index: 1;
}

.elem-group.gap-x > wa-input::part(base),
.elem-group.gap-x > wa-select::part(combobox) {
	border-radius: 0px;
}

.elem-group.gap-x > wa-input:first-child::part(base),
.elem-group.gap-x > wa-select:first-child::part(combobox) {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.elem-group.gap-x > wa-input:last-child::part(base),
.elem-group.gap-x > wa-select:last-child::part(combobox) {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.row{
    display:flex;
    flex-direction:row;
}

.column {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	gap: var(--padd-sm);
}

.page-meta {
    display:flex;
    flex-direction:column;
    gap:var(--padd-md);
    padding-bottom:var(--padd-lg);
    position:sticky;
    top:0;
    z-index:1;
    background-color:var(--bg);

    & h1 {
        margin-bottom:0;
    }
}

.page-content {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:var(--padd-xl);
    padding-bottom:var(--padd-xl);
}

.align-baseline {
	align-items: baseline;
}

.align-start {
	align-items: flex-start;
}

.align-center{
    align-items:center;
}

.align-end {
    align-items: flex-end;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.gap-x {
	gap: 0;
}
.gap-xs {
	gap: var(--padd-xs);
}
.gap-sm {
	gap: var(--padd-sm);
}

.gap-md {
	gap: var(--padd-md);
}

.gap-lg {
	gap: var(--padd-lg);
}

.gap-xl {
	gap: var(--padd-xl);
}

.padd-inline-xs {
	padding-inline: var(--padd-xs);
}

.padd-inline-sm {
	padding-inline: var(--padd-sm);
}

.padd-inline-md {
	padding-inline: var(--padd-md);
}

.badge {
	padding: var(--padd-xs) var(--padd-sm);
	border-radius: 4px;
	font-size: 13px;
	font-weight: 500;
}

.fixed-to-bottom {
	position: fixed;
	bottom: 8px;
}

wa-icon[library="lucide"]{
    aspect-ratio: 1/1;
    height:20px;
    width:20px;
	/* stroke-width: 5px; */
}

wa-icon[library="lucide"] > svg{
    /* width:100%; */
    /* height:100%; */
}

wa-icon[size="small"]::part(svg){
    height:16px;
    width:19px;
}
wa-icon[size="medium"]::part(svg){
    height:22px;
    width:24px;
}
wa-icon[size="large"]::part(svg){
    height:32px;
    width:32px;
}

wa-tooltip::part(base__popup),
wa-tooltip::part(base__arrow),
wa-tooltip::part(body){
    /* background-color:var(--bg-2); */
}

.btn-stack{
    display: grid !important;
	grid-template-areas: "stack";
	align-content: center;
	align-items: center;
	justify-content: center;
    overflow: hidden;
    scrollbar-width: none;
}

.btn-stack > .text,
.btn-stack > .spinner {
	grid-area: stack;
}

.btn-stack > .text {
	visibility: visible;
	font-size: unset;
}

.btn-stack > .spinner {
	visibility: hidden;
	margin: 0 auto;
}

.btn-stack.btn-is-acting > .spinner {
	visibility: visible;
}

.btn-stack.btn-is-acting > .text {
	visibility: hidden;
}

wa-spinner.spinner-accent::part(base){
    --indicator-color: var(--accent);
    --track-color: var(--gloss);
}

wa-spinner.spinner-lg::part(base){
    --track-width: 10px;
    font-size: 36px;
}

wa-breadcrumb-item {
    color:var(--primary);

    &:last-of-type{
        color:var(--solvent);
    }

    &::part(label){
        display:flex;
    }
}


.avatar {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 2px solid var(--solvent);
    outline-offset:-2px;
}

.avatar-sq{
    border-radius: 4px;
}

.avatar.avatar-lg{
    width: 120px;
    height: 120px;
    font-size:60px;
    outline-width:4px;
    outline-offset:-4px;
}


wa-dropdown::part(menu) {
	background-color: var(--bg);
	border: none;
	padding: var(--padd-xs);
	border-radius: calc(var(--padd-sm) + var(--padd-xs));
	border: 2px solid var(--gloss);
}

wa-dropdown-item{
    color: var(--text);
    font-weight: 600;
    font-size: 16px;
    padding:var(--padd-sm) var(--padd-sm);
    border-radius: 6px;
}

wa-dropdown-item::part(base) {
	background-color: color-mix(in lch, var(--bg) 100%, var(--solvent) 30%);
    background-color: var(--bg);
}

wa-dropdown-item::part(label){
    display:inline-flex;
    align-items:center;
    gap:var(--padd-sm);
}

wa-dropdown-item:hover {
	background-color: var(--gloss);
	color: var(--text);
}

wa-dropdown-item::part(icon) {
	color: var(--text);
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}